<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lyq4cloud.lyq.my.mapper.MyGoodsMapper">

  <resultMap id="myGoodsMap" type="com.lyq4cloud.lyq.my.entity.MyGoods">
                  <id property="id" column="id"/>
                        <result property="type" column="type"/>
                        <result property="name" column="name"/>
                        <result property="price" column="price"/>
                        <result property="remark" column="remark"/>
                        <result property="buyTime" column="buy_time"/>
                        <result property="createBy" column="create_by"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateBy" column="update_by"/>
                        <result property="updateTime" column="update_time"/>
                        <result property="delFlag" column="del_flag"/>
            </resultMap>

  <!--myGoods简单分页查询-->
  <select id="getMyGoodsPage" resultMap="myGoodsMap">
    SELECT
                  id,
                        type,
                        name,
                        price,
                        remark,
                        buy_time,
                        create_by,
                        create_time,
                        update_by,
                        update_time,
                        del_flag
              FROM my_goods
    <where>
              <if test="myGoods.id != null and myGoods.id.trim() != ''">
          AND id = #{myGoods.id}
        </if>
              <if test="myGoods.type != null and myGoods.type.trim() != ''">
          AND type = #{myGoods.type}
        </if>
              <if test="myGoods.name != null and myGoods.name.trim() != ''">
          AND name = #{myGoods.name}
        </if>
              <if test="myGoods.price != null and myGoods.price.trim() != ''">
          AND price = #{myGoods.price}
        </if>
              <if test="myGoods.remark != null and myGoods.remark.trim() != ''">
          AND remark = #{myGoods.remark}
        </if>
              <if test="myGoods.buyTime != null and myGoods.buyTime.trim() != ''">
          AND buy_time = #{myGoods.buyTime}
        </if>
              <if test="myGoods.createBy != null and myGoods.createBy.trim() != ''">
          AND create_by = #{myGoods.createBy}
        </if>
              <if test="myGoods.createTime != null and myGoods.createTime.trim() != ''">
          AND create_time = #{myGoods.createTime}
        </if>
              <if test="myGoods.updateBy != null and myGoods.updateBy.trim() != ''">
          AND update_by = #{myGoods.updateBy}
        </if>
              <if test="myGoods.updateTime != null and myGoods.updateTime.trim() != ''">
          AND update_time = #{myGoods.updateTime}
        </if>
              <if test="myGoods.delFlag != null and myGoods.delFlag.trim() != ''">
          AND del_flag = #{myGoods.delFlag}
        </if>
          </where>
  </select>



</mapper>
